name: Fork Deploy Caller

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    # Hier werden die Pages- und Token-Rechte weitergegeben
    permissions:
      contents: read
      pages: write
      id-token: write
    uses: lemueIO/.github/.github/workflows/central-pages-logic.yml@main
    with:
      publish_dir: '.'
    secrets: inherit
